asgiref==3.2.3
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
Django==3.1.9
django-sns-view==0.1.2
idna==2.8
pem==20.1.0
pkg-resources==0.0.0
PlexAPI==3.3.0
psycopg2==2.8.4
pycparser==2.19
pyOpenSSL==19.1.0
pytz==2019.3
requests==2.22.0
roku==4.0.0
six==1.14.0
sqlparse==0.3.0
tqdm==4.42.1
urllib3==1.25.8
websocket-client==0.57.0
